/* For larger screens */
.home-body {
  display: flex;
}

.sidebarcontainer1{
  width: 20%;
}
/* Sidebar */
.sidebar {
  width: 250px;
  height: 400px;
  padding: 10px;
}

/* Chat Panel */
.chat-panel {
  /* width: 320px; */
  padding: 10px;
  height: 400px;
  border-left: 1px solid #ccc;
}

/* Post Feed */
.post-feed {
  flex: 1;
  padding: 10px;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .sidebar,
  .chat-panel {
    display: none;
  }

  .post-feed {
    width: 100%;
  }
}
